.body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  background-image: url("../img/nav.jpg");
  background-repeat: repeat-x;
  height: 75px;
}
.nav__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.nav__link {
  position: absolute;
  left: 5px;
  top: 5px;
  color: black;
  text-decoration: none;
}
.nav__link-motiv {
  color: black;
  text-decoration: none;
}
.nav h1 {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 20px;
}
.nav__photo {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 15px;
}

.intro {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
  width: 80%;
}

.corps {
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.corps__left {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  border-right: solid 1px black;
}
.corps__left-infos {
  background-color: #97efff;
  padding-left: 50px;
  border-radius: 15px;
}
.corps__left-infos h2 {
  text-decoration: underline;
}
.corps__left-infos h3 {
  font-size: large;
}
.corps__left-studies {
  border-radius: 15px;
  background-color: #63b4d6;
  padding-left: 50px;
  margin-top: 20px;
  word-wrap: break-word;
}
.corps__left-studies-a {
  color: black;
  text-decoration: none;
}
.corps__left-studies h2 {
  text-decoration: underline;
}
.corps__left-studies h3 {
  font-size: large;
}
.corps__left-studies-certif {
  color: black;
}
.corps__right {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
}
.corps__right h2 {
  text-decoration: underline;
}
.corps__right-expe {
  border-radius: 15px;
  background-color: #63b4d6;
  padding-left: 50px;
  word-wrap: break-word;
}
.corps__right-ability {
  border-radius: 15px;
  background-color: #97efff;
  padding-left: 50px;
  word-wrap: break-word;
}
.corps__right-ability h2 {
  text-decoration: underline;
}
.corps__right-ability h3 {
  font-size: large;
}
.corps__right-ability-col {
  display: flex;
  flex-direction: row;
}
.corps__right-ability-col-1 {
  width: 50%;
}
.corps__right-ability-col-2 {
  width: 50%;
}

.projects__left {
  word-wrap: break-word;
}

.popup__content {
  background-color: #97efff;
  position: absolute;
  z-index: 999;
  width: 60%;
  top: 20%;
  left: 20%;
  border: 0.5px solid black;
  animation: coming 1500ms;
  animation-fill-mode: forwards;
  transition: 1500ms ease-in-out;
  display: flex;
  justify-content: space-between;
}
.popup__content-button {
  object-position: bottom;
  height: 40px;
  background-color: #97efff;
  border: none;
}
.popup__content-p {
  padding: 20px;
}

@keyframes coming {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width: 992px) {
  .projects__left {
    border-right: 1px black solid;
  }
}
@media (max-width: 768px) {
  .nav {
    height: 100px;
  }
  .nav h1 {
    width: 50%;
  }

  .intro {
    margin-top: 40px;
  }

  .corps__left-infos {
    padding-left: 20px;
  }
  .corps__left-studies {
    padding-left: 20px;
  }
  .corps__right-expe {
    padding-left: 20px;
  }
  .corps__right-ability {
    padding-left: 20px;
  }

  .popup__content {
    width: 80%;
    left: 10%;
    top: 10%;
  }
}
@media (max-width: 478px) {
  .popup__content {
    width: 90%;
    left: 5%;
    top: 5%;
  }

  .intro {
    margin-top: 80px;
  }

  .corps {
    flex-direction: column;
  }
  .corps__left {
    border: none;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .corps__right {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 310px) {
  .nav h1 {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
