$primary : #97efff;
$secondary :#63b4d6 ;

.body{
    width : 100%;
    margin :0;
    padding :0;
}
.nav{
    background-image: url("../img/nav.jpg");
    background-repeat: repeat-x;
    height : 75px;
    &__flex{
        display :flex;
        justify-content: space-between;
        flex-direction: row;
        width : 100%;
    }
    & h1{
        font-size: 30px;
        margin : 30px;
    }
    &__photo{
        object-fit: cover;
        width : 120px;
        height: 120px;
        border-radius: 60px;
        margin-right : 15px;
    }
}

.intro{
    margin-top: 20px;
    margin-bottom: 0;
    padding : 10px;
    width : 80%;
}
.corps{
    padding-top: 0;
    width : 100%;
    display : flex;
    flex-direction: row;
    &__left{
        width : 50%;
        padding-left : 5%;
        padding-right : 5%;
        flex-direction: row;
        border-right: solid 1px black;
        &-infos{
            background-color: $primary;
            padding-left : 50px;
            border-radius: 15px;
            & h2{
                text-decoration: underline;
            }
            & h3{
                font-size: large;
            }
        }
        &-studies{
            border-radius: 15px;
            background-color: $secondary;
            padding-left : 50px;
            margin-top: 20px;
            word-wrap: break-word ;
            & h2{
                text-decoration: underline;
            }
            & h3{
                font-size: large;
            }
            &-certif{
                color : black;
            }
        }
    }
    &__right{
        width : 50%;
        padding-left : 5%;
        padding-right : 5%;
        flex-direction: row;
        & h2{
            text-decoration: underline;
        }
        &-expe{
            border-radius: 15px;
            background-color: $secondary;
            padding-left : 50px;
            word-wrap: break-word;
        }
        &-ability{
            border-radius: 15px;
            background-color: $primary;
            padding-left : 50px;
            & h2{
                text-decoration: underline;
            }
            & h3{
                font-size: large;
            }
            &-col{
                display: flex;
                flex-direction: row;
                &-1{
                    width : 50%;
                }
                &-2{
                    width : 50%;
                }
            }
        }
    }
}

.projects{
    &__left{
        word-wrap: break-word;
    }
}

@media(min-width : 992px){
    .projects{
        &__left{
            border-right : 1px black solid;
        }
    }
}

@media(max-width : 768px){
    .nav{
        height: 100px;
        & h1{
            width : 50%;
        }
    }
    .corps{
        &__left{
            &-infos{
                padding-left : 20px;
            }
            &-studies{
                padding-left : 20px;
            }
        }
        &__right{
            &-expe{
                padding-left : 20px;
            }
            &-ability{
                padding-left : 20px;
            }
        }
    }
}

