$primary : #97efff;
$secondary :#63b4d6 ;

.body{
    width : 100%;
    margin :0;
    padding :0;
}



.nav{
    background-image: url("../img/nav.jpg");
    background-repeat: repeat-x;
    height : 75px;
    &__flex{
        display :flex;
        justify-content: space-between;
        flex-direction: row;
        width : 100%;
    }
    &__link{
        position :absolute;
        left : 5px;
        top : 5px;
        color : black;
        text-decoration: none;
        &-motiv{
            color : black;
            text-decoration: none;
        }
    }
    & h1{
        font-size: 30px;
        margin-top : 30px;
        margin-left : 20px;
    }
    &__photo{
        object-fit: cover;
        width : 120px;
        height: 120px;
        border-radius: 60px;
        margin-right : 15px;
    }
}

.intro{
    margin-top: 20px;
    margin-bottom: 0;
    padding : 10px;
    padding-left : 3%;
    width : 80%;
}
.corps{
    padding-bottom : 70px;
    padding-top: 0;
    width : 100%;
    display : flex;
    flex-direction: row;
    &__left{
        width : 50%;
        padding-left : 5%;
        padding-right : 5%;
        flex-direction: row;
        border-right: solid 1px black;
        &-infos{
            background-color: $primary;
            padding-left : 10px;
            border-radius: 15px;
            & h3{
                font-size: large;
            }
        }
        &-studies{
            border-radius: 15px;
            background-color: $secondary;
            padding-left : 10px;
            margin-top: 20px;
            word-wrap: break-word ;
            &-a{
                color : black;
                text-decoration: none;
                &:hover{
                    color: black;
                }
            }
            & h3{
                font-size: large;
            }
            &-certif{
                &-a{
                    color : black;
                    &:hover{
                        color: black;
                    }
                }
                font-size: 20px;
            }
        }
    }
    &__right{
        width : 50%;
        padding-left : 5%;
        padding-right : 5%;
        flex-direction: row;
        &-expe{
            border-radius: 15px;
            background-color: $secondary;
            padding-left : 10px;
            word-wrap: break-word;
        }
        &-ability{
            border-radius: 15px;
            background-color: $primary;
            padding-left : 10px;
            word-wrap: break-word;
            & h3{
                font-size: large;
            }
            &-col{
                display: flex;
                flex-direction: row;
                &-1{
                    width : 50%;
                    padding-right : 5%;
                }
                &-2{
                    width : 50%;
                }
            }
        }
    }
}

.projects{
    &__left{
        word-wrap: break-word;
    }
}

.popup{
    &__content{
        background-color: $primary;
        position: absolute;
        z-index: 999;
        width : 60%;
        top : 20%;
        left : 20%;
        border : 0.5px solid black;
        animation: coming 1500ms;
        animation-fill-mode: forwards;
        transition: 1500ms ease-in-out;
        display : flex;
        justify-content: space-between;
        &-button{
            object-position: bottom;
            height : 40px;
            background-color: $primary;
            border : none;
        }
        &-p{
            padding : 20px;
        }
    }
}

@keyframes coming{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media(min-width : 992px){
    .projects{
        &__left{
            border-right : 1px black solid;
        }
    }
}

@media(max-width : 768px){
    .nav{
        height: 100px;
        & h1{
            width : 50%;
        }
    }
    .intro{
        margin-top: 60px;
    }
    .corps{
        flex-direction: column;
        &__left{
                border : none;
                width : 100%;
                padding-left : 10%;
                padding-right: 10%;
            &-infos{
                padding-left: 20px;
            }
            &-studies{
                padding-left : 20px;
            }
        }
        &__right{
            width : 100%;
            padding-left : 10%;
            padding-right: 10%;
            &-expe{
                padding-left : 20px;
            }
            &-ability{
                padding-left : 20px;
            }
        }
    }
    .popup{
        &__content{
            width : 80%;
            left : 10%;
            top : 10%;
        }
    }
}

@media (max-width : 478px){
    .popup{
        &__content{
            width : 90%;
            left : 5%;
            top : 5%;
        }
    }
    .intro{
        margin-top: 120px;
    }
}

@media (max-width : 310px){
    .nav{
        & h1{
            margin-left : 0;
        }
    }
}

@media (max-width : 992px){
    .corps{
        &__right{
            &-ability{
                &-col{
                    flex-direction: column;
                }
            }
        }
    }
}


